
       <div class="user-identity user-img comment-user">
            <img src="" class="img-fluid user-img" alt="" />
            <h5 class="card-title mt-2 comment-username"></h5>
          </div>

          
            <div class="card rounded">
              <div class="row">
                <div class="col-md-12">
                  <p class="comment-text"></p>
                </div>
              </div>
            </div>
            <div class="button-options pr-0">
              <button
                type="button"
                class="btn-group btn-upvote btn btn-success"
              ><i class="fa-solid fa-circle-arrow-up"> 0</i></button>
              <button
                type="button"
                class="btn-group btn-downvote btn btn-danger"
              ><i class="fa-solid fa-circle-down"> 0</i></button>
              <button
                type="button"
                class="btn-group btn-delete btn btn-secondary"
              ><i class="fa-solid fa-trash-can"></i></button>
            </div>


