<form class="form-group comment-input col-auto m-0 pt-2 align-items-center">
  <input type="text" class="form-control mr-5" placeholder="Write a Comment" id="inputDefault">
  <button class="btn btn-outline-success col-lg-2 col-md-3 col-sm-4 comment-btn" type="submit">Submit</button>
</form>