{{!-- container for logout page --}}
<div class="d-flex container justify-content-center">
<div class="card col-lg-7 col-md-10 col-sm-11 d-flex justify-content-center">
    <div class="row mt-2">
      <div class=" col-md-offset-3">
        <h2>Are you sure?</h2>
        <form class="logout">
          <button type="submit" class="btn btn-light">Yes, logout</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">here</a></p>
      </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./js/logout.js"></script>
